body{
	font-family: FedraSansStd;
}

#back_picture{
    width: 100%;
    height: 50vh;
}

#mid_line{
   margin-top: 10vh;
   position: relative;
}

#mid_line_f{
    margin-top: 15vh;
}

#wrap{
    position: relative;
}

#regint{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif*/;
	font-family: FedraSansStd;
	font-size: 30px;
	font-weight: 400;
	color: #008789;
	text-indent: 200px;
}

#inform{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family: FedraSansStd;
	font-size: 15px;
	font-weight: 400;
}

#fill{
    font-family: FedraSansStd;
	font-size: 13px;
	font-weight: 300;
}

.panel-heading {
    font-family: FedraSansStd;
    font-size: 18px;
    font-weight: 400;

}

#panel_body_register {

    background-color: #008789;
    opacity: 0.9;
    position: absolute;
    left: 20vh;
    right: 20vh;
    top: 10vh;
    float: right;
    max-width: 90vh;
    min-width: 60vh;
    margin: auto;
    display: block;
    padding-top: 0;
    color: #fcfcfc;
    /*border-style: solid;
    border-color: #C0C0C0;
    border-width: 1px;*/
    border-radius: 8px;
    margin-bottom: 20px;
}

#panel_body_finished {

    background-color: #008789;
    opacity: 0.9;
    position: absolute;
    left: 20vh;
    right: 20vh;
    top: 25vh;
    float: right;
    max-width: 90vh;
    min-width: 60vh;
    margin: auto;
    display: block;
    padding-top: 0;
    color: #fcfcfc;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 1px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#finished_text{
    margin: 10% 5%;

}

#bottom_bar_top {

    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
    background-color: white;
    border-color: #C0C0C0;
    border-style: ridge;
    border-width: 1px;
    margin-bottom: -2px;
}

#bottom_bar_bottom {

    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
    background-color: white;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button_register_uncompleted {

	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 14px;
    height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    border: solid #C0C0C0 1px;
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 20px;
    width: 100px;
}

.button_register_completed {

    font-family: FedraSansStd;
    font-weight: 400;
	font-size: 14px;
    background-color: #008789;
    color: #FFFFFF;
    border: solid #008789 1px;
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 20px;
    width: 100px;
}

#register_welcome_text {

    margin-left: 40%;
}

#register_fields {

    margin-left: 0;
    padding-top: 6px;
}

#reg_label_fields {

    margin-left: -4%;
    font-weight: 100;

}

#reg_label {

    font-family: FedraSansStd;
    color: black;
    font-weight: 400;
    font-size: 14px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

}


#id_cv-cv {

    /*border-style: solid;
    border-width: 1px;
    border-radius: 30px;*/

    cursor: pointer;
    /*opacity: 0;*/

}

#personvern {
    padding-top: 5%;
}

#personvern a {
    text-decoration: underline;
}

.control-label{
    color: white;
    font-family: FedraSansStd;
    font-size: 12px;
    font-weight: 100;
}

#usboks{
    color: #fff;
    font-weight: normal;
    max-width: 200vh;

}
/*#registrerknapp{
	font-family: FedraSansStd;
    font-weight: 400;*/
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	/*font-size: 10px;
	line-height: 0.1;
    background-color: #008789;
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}*/
#registrer_interesse{
	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 30px;
	line-height: 0.1;
    color: #fff;
    position: absolute;
    float: left;
    top: 35vh;
    left: 5vh;
    background-color: #008789;
    padding: 10px;
}

#ferdig_interesse{
    font-family: FedraSansStd;
    font-weight: 400;
    font-size: 30px;
    line-height: 0.1;
    color: #fff;
    position: absolute;
    float: left;
    top: 39vh;
    left: 5vh;
    background-color: #008789;
    padding: 10px;
}

#usboks1{

	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 11px;
	line-height: 0.5;
    background-color: #008789;
    color: #000000;
    max-width: 90vh;

}


#login_candidate{

    margin: auto;

    padding: 10px;

}

#inputfield{
	border-radius: 30px;
	padding: 5px 20px;
	border-width: 1px;

}

.navbar-header, #topNavBar, #headtekst{
	background-color: #FFFFFF;
	color: #008789;
}

#butt {

	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 11px;
	line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

#butt_green{
	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 11px;
	line-height: 0.1;
    background-color: #008789;
    color: #FFFFFF;
    border: solid #008789 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}


#omriss{
    border: solid #C0C0C0 1px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    width: 1000px;
}

#brukinf{
	border: solid #C0C0C0 1px;
	background-color: #FFFFFF;
}

#login_kandidat{

	width: 150%;
	font-family: FedraSansStd;
    font-weight: 400;
	font-size: 30px;
	line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    margin-left: 32%;
}

#form_group_login {

    margin-left: 5%;
}

#header {
 height: 5vh;
 padding-left: 5%;
}

#header img {
 height: 100%;
 margin: 0 auto;
}


#privacyPolicy {
    width: 110px;
    height: 30px;
    margin-top: 5px;
    border-radius: 30px;
}

#personvern_tekst {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    display: table;
    text-align: left;
    margin: 1% 10%;
    line-height:1.5em;
    font-weight: normal;
}

#kand_personalia {

    width: 100%;
    border-top: solid #008789 1px;
    height: auto;
}

#prefilled_text {
    margin-left: 15%;
    margin-right: 5%;
}

.form-horizontal{
/*    float: right;
    margin-left: 30vh;
    margin-right: 5vh;*/
}

#upload_image{
    width: 25vh;
    height: 25vh;
    display: block;
    margin: auto;
    margin-top: 5vh;
}

.form_prefilled{
    max-width: 20vh;
}

.input{
    color: black;
    padding: 0;
    font-size: 12px;
}

.row{
    padding-top: 6px;
}

#terms_header{
    margin-left: 10%
}
