<div class="caption">

    {%  include 'hr/detail-base.html' %}

    <div id="sent_to_leader">

		<h6 id="sent_to_leader">{{ candidate.comment }}</h6>
    </div>
    <div id="sent_to_leader">

		<h6 id="sent_to_leader">{{ candidate.leader }}</h6>
    </div>
    <div id="sent_to_leader_date">
		<h6 id="sent_to_leader_date">{{ candidate.date_sent }}</h6>
    </div>

    {% include 'hr/showCV-form.html' %}

    {% include 'hr/feeback_button.html' %}
    <br/>
</div>

{% include 'hr/reject-user-modal.html' %}

