<!DOCTYPE html>
<html lang="en">
{% extends 'hr/basefile-styling.html' %}

{% block base %}

    {% if not user.is_authenticated %}

        <meta http-equiv="refresh" content="0; url={% url 'hr:login' %}" />

    {% endif %}

<body>

    <nav class="navbar navbar-light" style="background-color: #F5F5F5;" id="main_navbar">

        <nav class="navbar navbar-light" style="background-color: #F5F5F5;">

            <div class="container-field">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">

                        <span class="icon-bar" style="background-color: #000000;"></span>
                        <span class="icon-bar" style="background-color: #000000;"></span>
                        <span class="icon-bar" style="background-color: #000000;"></span>

                    </button>
                    <a class="navbar-brand" href="">DNB Recruiter</a>
                </div>
                <div class="navbar-header">

                    <a id="#user_header" class="navbar-brand" href="">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        &nbsp;
                        {{ user.get_full_name }}
                    </a>

                </div>

                <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
                    <li class="">
                        <a href="{% url 'hr:logout' %}" id="navigasjons_bar">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logg ut
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
						<a data-toggle="modal" data-target="#AddCandModal" id="navigasjons_bar">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Ny kandidat
                        </a>
                    </li>
                </ul>

            </div>

        </nav>


        <div class="container-field">


            <!-- Items on the navigation bar -->

            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="{% url 'hr:tips' %}"
                                {% if view.id == 4 %}
                                    style="color: #ba4823"
                                {% endif %} id="navigasjons_bar">

                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Tips ({{ query_set.1.4 }})
                            &nbsp;
                            &nbsp;
                            &nbsp;
                        </a>
                    </li>

					<li id="untreated" class="active">

                        <a href="{% url 'hr:index' %}" 
                                {% if view.id == 0 %}
                                    style="color: #ba4823"
                                {% endif %} id="navigasjons_bar">
                            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Ubehandlet ({{ query_set.1.0 }})
                        </a>
                    </li>

                    <li class="">
                        <a href="{% url 'hr:inProcess' %}"
                                {% if view.id == 1 %}
                                    style="color: #ba4823"
                                {% endif %} id="navigasjons_bar">

                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> I prosess ({{ query_set.1.1 }})
                        </a>

                    </li>

                    <li class="">
                        <a href="{% url 'hr:approved' %}"
                            {% if view.id == 2 %}
                                style="color: #ba4823"
                            {% endif %} id="navigasjons_bar">

                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Godkjent ({{ query_set.1.2 }})
                        </a>

                    </li>
                    <li class="">
                        <a href="{% url 'hr:rejected' %}"
                                {% if view.id == 3 %}
                                    style="color: #ba4823"
                                {% endif %} id="navigasjons_bar">

                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Avslått ({{ query_set.1.3 }})
                        </a>

                    </li>

                </ul>

                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">
                    </div>
                    <button type="submit" class="btn btn-default" id="butt">Søk</button>
                </form>


            </div>
        </div>

    </nav>

    {%  include 'hr/new-candidate-modal.html' %}


{% block body %}
{% endblock %}
</body>

</html>

{% endblock %}
