
<div id="AddCandModal" class="modal fade" role="dialog">

        <div class="modal-dialog">
			<div class="modal-content" id="omriss_mail">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="send_til_leder">Legg til ny kandidat</h3>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" action="{% url 'hr:newCandidate' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="view_id" value="{{ view.id }}">
                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-10">

                                <input placeholder="Kandidat-email" id="candEmail" type="email" class="form-control" name="cand_email" value=""/>
								<input placeholder="Fornavn" id="firstName" type="text" class="form-control" name="first_name" value=""/>
								<input placeholder="Etternavn" id="lastName" type="text" class="form-control" name="last_name" value=""/>
                            </div>
                        </div>

                         <div class="thumbnail" id="regUserDiv">
                             <textarea id="send_about_candidate" name="welcome_text">
                             </textarea>
                         </div>

                        <div class="form-group">

                            <div class="col-sm-offset-0 col-sm-10">

                                <button id="butt_green" type="submit" class="btn btn-success">Registrer</button>
                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="butt">Avbryt</button>
                </div>
            </div>
        </div>

</div>
