<div id="regUser{{ candidate.id }}" class="modal fade" role="dialog">

        <div class="modal-dialog">
			<div class="modal-content" id="omriss_mail">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="send_til_leder">Registrer kandidat</h3>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" action="{% url 'hr:registerTips' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="view_id" value="{{ view.id }}">
                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-10">

                                <label style="float: left">Kandidat email:  <label id="check_label">{{ candidate.email }}</label>  </label>
                                <br/>
                                <br/>
                                <label style="float: left">Fornavn:  <label id="check_label">{{ candidate.first_name }}</label>  </label>
                                <br/>
                                <br/>
                                <label style="float: left">Etternavn:  <label id="check_label">{{ candidate.last_name }}</label>  </label>


                                <input id="candEmail" type="hidden" class="form-control" name="cand_email" value="{{ candidate.email }}"/>
								<input id="firstName" type="hidden" class="form-control" name="first_name" value="{{ candidate.first_name }}"/>
								<input id="lastName" type="hidden" class="form-control" name="last_name" value="{{ candidate.last_name }}"/>
                                <input id="lastName" type="hidden" class="form-control" name="phone" value="{{ candidate.phone }}"/>
                                <input id="from_mail" type="hidden" class="form-control" name="from_mail" value="{{ candidate.from_mail }}"/>
                                <input id="pk" type="hidden" class="form-control" name="pk" value="{{ candidate.pk }}"/>
                            </div>
                        </div>

                        <input type="hidden" class="form-control" name="cand_email_tips" value="{{ candidate.current_mail_to_cand }}"/>

                        <br id="small_space"/>

                        <label id="home_reg_header">Mail til kandidat</label>
                        <div id="div_mail_bottom"></div>
                        <br id="small_space"/>


                        <div id="to_from{{ candidate.id }}">
                            <label>Fra:  <label id="check_label">{{ candidate.from_mail }}</label></label>
                            <label></label>
                            <label>Til:  <label id="check_label">{{ candidate.email }}</label></label>
                        </div>

                        <div id="mail_div_tips{{ candidate.id }}">
                            <label>Innhold:</label>
                            <br id="small_space"/>
                            <div class="thumbnail">
                                <textarea class="tips_mail_custom" id="tips_mail_custom{{ candidate.id }}" name="mail_to_cand"></textarea>
                            </div>

                        </div>
                        <br/>
                        <div class="form-group">

                            <div class="col-sm-offset-0 col-sm-10">

                                <button id="butt_green" type="submit" class="btn btn-success">Registrer</button>
                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="butt">Avbryt</button>
                </div>
            </div>
        </div>

        <script>

            function triggerChange(){
                $("#custom_mail"+{{ candidate.id }}).trigger("change");
            }

            $("#custom_mail"+{{ candidate.id }}).change(function() {

                var isChecked = document.getElementById("custom_mail" + {{ candidate.id }}).checked;

                if(isChecked) {

                    document.getElementById("candidateMailDiv{{ candidate.id }}").style.height = "0%";
                    document.getElementById("candidateMailDiv{{ candidate.id }}").style.visibility = 'hidden';
                    $("#candidateMailDiv"+{{ candidate.id }}).height(0);

                    document.getElementById("to_from{{ candidate.id }}").style.height = "0%";
                    document.getElementById("to_from{{ candidate.id }}").style.visibility = 'hidden';
                    $("#to_from{{ candidate.id }}").height(0);



                    document.getElementById("mail_div_tips{{ candidate.id }}").style.height = "100%";
                    document.getElementById("mail_div_tips{{ candidate.id }}").style.visibility = 'visible';
                    //$("#mail_div").height(0);

                } else {


                    document.getElementById("candidateMailDiv{{ candidate.id }}").style.visibility = 'visible';
                    document.getElementById("candidateMailDiv{{ candidate.id }}").style.height = "100%";
                    $("#candidateMailDiv"+{{ candidate.id }}).height(120);

                    document.getElementById("mail_div_tips{{ candidate.id }}").style.height = "0%";
                    document.getElementById("mail_div_tips{{ candidate.id }}").style.visibility = 'hidden';
                    $("#mail_div_tips"+{{ candidate.id }}).height(0);

                    document.getElementById("to_from{{ candidate.id }}").style.height = "100%";
                    document.getElementById("to_from{{ candidate.id }}").style.visibility = 'visible';
                }
            });

            triggerChange();
        </script>

</div>