<div class="caption" id="her_detaljer">
    {% if candidate.is_proff %}
        <div><img id="is_proff" src="/static/hr/erfaring.svg"></div>
    {% else %}
        <div><img class="is_proff_pic" src="/static/hr/nyutdannet.svg"></div>
    {% endif %}
    <h6 id="candidate_name">{{ candidate.get_full_name }}</h6>
	<hr id="mid_line">
    <h6 id="candidate_name">{{ candidate.email }}</h6>
    <h6>{{ candidate.phone }}</h6>
    <h6>{{ candidate.text }}</h6>
    
    <br/>

    <div class="thumbnail" id="candidateInfoDiv">
        <label id="candidateInfo">
            {% if candidate.whytext %}
                {{ candidate.whytext }}

            {% else %}
                ...
            {% endif %}

        </label>
    </div>

    <div id="sent_to_leader">

        <h6 id="candidate_name">Sendt inn av: {{ candidate.from_mail }}</h6>
    </div>

    <button data-target="#regUser{{ candidate.id }}" type="submit" class="btn btn-default btn-sm" id="butt_paminnelse" data-toggle="modal">
        Registrer
        <span class="glyphicon glyphicon-user"></span>
    </button>

    <button data-target="#detailCand{{ candidate.id }}" type="submit" class="btn btn-default btn-sm" id="butt_paminnelse" data-toggle="modal">
        Se detaljer
        <span class="glyphicon glyphicon-list-alt"></span>
    </button>

    <button data-target="#deleteTips{{ candidate.id }}" type="submit" class="btn btn-default btn-sm" id="butt_paminnelse" data-toggle="modal">
        Slett
        <span class="glyphicon glyphicon-trash"></span>
    </button>

    <br/>
</div>

{% include 'hr/register-user-modal.html' %}
{% include 'hr/detail-user-modal.html' %}
{% include 'hr/delete-tips-modal.html' %}
