<div class="caption">

    <form action="{% url 'hr:flag' %}" method="post" style="float: right;">
        {% csrf_token %}
        <input type="hidden" name="candidate_id" value="{{ candidate.user.id }}">
        <button type="submit" class="btn btn-default btn-sm"
                {% if candidate.flagged %}
                    id="flagged_candidate"
                {% else %}
                    id = "unflagged_candidate"
                {% endif %}>
            <span class="glyphicon glyphicon-flag"></span>
        </button>
    </form>

    {%  include 'hr/detail-base.html' %}

    <div class="thumbnail" id="candidateInfoDiv">
        <label id="candidateInfo">
            Tekst om kandidaten osv

        </label>
    </div>

    <form action="{% url 'hr:showCV' %}" method="get" style="display: inline">
        {% csrf_token %}
        <input type="hidden" name="candidate_cv" value="{{ candidate.cv }}">
        <button type="submit" class="btn btn-default btn-sm" id="see_cv">
            <span class="glyphicon glyphicon-download-alt"></span>
            Se CV
        </button>
    </form>


    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#reject{{ candidate.user.id }}" style="display: inline" id="give_rejection">
        <span class="glyphicon glyphicon-remove"></span>
        Gi avslag
    </button>

    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#send{{ candidate.user.id }}" style="display: inline" id="send_leader">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Send til leder
    </button>

    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#sendHr{{ candidate.user.id }}" style="display: inline" id="send_hr">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp; Send til HR
    </button>

</div>

{%  include 'hr/reject-user-modal.html'%}
{%  include 'hr/send-to-leader-modal.html' %}
{%  include 'hr/send-hr-modal.html' %}
