/*body {

    background: white url("images/background2.png");
}*/



.navbar{

    border-radius: 0;
}

.navbar-brand {

     font-family: 'Satisfy', cursive;
}

#candidateInfo {

    font-size: small;
    font-style: normal;
    font-weight: 400;
}

#send_about_candidate {

    width: 100%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.5px #000;
    border: 1px transparent;
    align-content: flex-end;
    text-align-last: left;
    text-align: justify;
}

#see_cv, #give_rejection, #send_leader, #send_hr {

    width: 110px;
    height: 30px;
    margin-top: 5px;

}

#unflagged_candidate {

    background-color: #ffffff;
}

#flagged_candidate {

    background-color: #7dacba;
}


#send_notification {

    width: 130px;
    height: 30px;
    margin-top: 5px;

}

#send_new_leader {

     width: 120px;
     height: 30px;
     margin-top: 5px;
}

#candidateInfoDiv {

    overflow: scroll;
    height: 60px;
}

#regUserDiv {

    overflow: scroll;
    height: 170px;
}
#regUserText {

    width: 100%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 0 0px #000;
    border: 1px;
    align-content: flex-end;
    text-align-last: left;
    text-align: justify;
    white-space: nowrap;
}

#sent_to_leader, #sent_to_leader_date {

    /*width: 50%;
    margin: 0 auto;*/
    font-weight: 400;
}

#hr_comment {

    width:100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.5px #000;
    border: 1px;
}
