/*body {

    background: white url("images/background2.png");
}*/

.navbar{

    border-radius: 0px;

}

.navbar-brand {

     font-family: "Segoe UI",Arial,sans-serif;
     color: #008789;
     font-size: 20px;
}
#send_til_leder, #send_paminnelse {

     font-family: "Segoe UI",Arial,sans-serif;
     color: #008789;
     font-size: 20px;
}

#fra_til{
    font-family: "Segoe UI",Arial,sans-serif;
     color: #008789;
     font-size: 14px;   
}
#candidateInfo, #informasjonsfelt_mail, #paminnelse_kandidat{

    font-size: 12px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-indent: 6px;
}

#send_about_candidate {

    width: 100%;
    height: 120px;
    border-radius: 10px;
    /*box-shadow: 0 0 0 0.5px #000;*/
    border: 30px transparent;
}

#send_leader, #send_hr {

    width: 110px;
    height: 30px;
    margin-top: 5px;
    border-radius: 30px;
}

#give_rejection {

    width: 120px;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
}

#not_applicable {

    width: 130px;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
}

#send_new_leader {

    width: 120px;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
}

#see_cv {

    border-radius: 50px;
    height: 30px;
    /*padding: 5px 20px;*/
    margin-top: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#unflagged_candidate {

    background-color: #ffffff;
}

#flagged_candidate {

    background-color: #7dacba;
}


#send_notification {

    width: 130px;
    height: 30px;
    margin-top: 5px;

}

#candidateInfoDiv {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 10px;
    overflow: scroll;
    height: 60px;
    width: 150px;
    margin-top: 5px;
    border-radius: 20px;
}

.candidateMailDiv {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    overflow: scroll;
    height: 120px;
    margin-top: 5px;
    border-radius: 5px;
}

.candidateDetailWhyDiv {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 200;
    font-size: 12px;
    overflow: scroll;
    height: auto;
    margin-top: 5px;
    border-radius: 5px;
}

#sent_to_leader, #sent_to_leader_date {

    /*width: 50%;
    margin: 0 auto;*/
    font-weight: 400;
}

#hr_login{

    width: 150%;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    text-indent: 230px;
}

#butt_green{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 0.1;
    background-color: #008789;
    color: #FFFFFF;
    border: solid #008789 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

#butt_green_leader{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.1;
    background-color: #008789;
    color: #FFFFFF;
    border: solid #008789 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

#omriss{
    border: solid #C0C0C0 1px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    width: 1000px
}

#omriss_mail{
    border: solid #C0C0C0 1px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    width: 600px
}

#omriss_reg_candidate {

    border: solid #C0C0C0 1px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    width: 800px;
}

#inputfield{
    border-radius: 30px;
    padding: 5px 20px;
    border-width: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#usboks1{
    content: center;
    width: 150%;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #000000;
}
/*------------inne på HR--------------*/

#vis_cv, #give_rejection, #send_leader, #send_hr, #sent_to_leader {
    border-radius: 50px;
    /*padding: 5px 20px;*/
    border-width: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
}


#sent_to_leader_date {
    border-radius: 50px;
    /*padding: 5px 20px;*/
    border-width: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 10px;
}

#her_detaljer{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #008789;
}

/*---------navigationbar---------*/
#navigasjons_bar{
    font-family: "Segoe UI",Arial,sans-serif;
     color: #008789;
     font-size: 15px;
}

#butt{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

#button_home_login {

    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    padding: 13px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    width: 95px;

}

#button_ok_regCand {

    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    position:absolute;
    left:3%;
    bottom: 6%;

}

#butt_paminnelse {

    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    border-radius: 50px;
    /*padding: 5px 20px;*/
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
}

#home_reg_header {

    font-family: "Segoe UI",Arial,sans-serif;
    color: #008789;

}

#small_space {

    display: block;
    margin: 8px 0;
    line-height:2px;
    content: "";
}

#comment_why_div {

    width: 70%;
}

#comment_why {

    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 30px transparent;
}

.tips_mail_custom {

    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: 30px transparent;
}

#check_label {

    font-weight: 400;

}

#mail_div {

    width: 70%;
}

#mail_div_tips {

    height:150px;
}

#div_mail_bottom {

    width: 100%;
    border-top: solid #008789 1px;
    height: auto;
}

#home_firstname, #home_lastname, #home_tlfkand, #home_candemail {

    width: 70%;
}



/*#butt_paminnelse{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.1;
    background-color: #FFFFFF;
    color: #008789;
    border: solid #C0C0C0 1px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}*/








