<!DOCTYPE html>
<html lang="en">
	<div id="wrapperHeader">
		<div id="header">
			<p><a href="{% url 'candidate:profile' %}" id="header" img src="dnblogo.png"></a></p>
		</div>
	</div>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}DNB Recruiter{% endblock %}</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>

		{% block body %}

		{% endblock %}
	</body>

</html>
