{% extends 'candidate/profile.html' %}
{% block info %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Brukerinfo</div>
				<div class="panel-body">
					<dl>
						<dt>Navn:</dt> 
						<dd>{{ user.get_full_name }}</dd>
						<dt>E-post:</dt>
						<dd>{{ user.get_email }}</dd>
						<dt>Telefon:</dt>
						<dd>{{ user.get_phone }}</dd>
					</dl>
					<a href="{% url 'candidate:edit_profile' %}" class="btn btn-info" role="button">Rediger info</a>
					<a href="{% url 'candidate:upload' %}" class="btn btn-danger" role="button">Last opp CV</a>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
