{% extends 'candidate/base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
	<meta http-equiv="refresh" content"0; url={% url 'candidate:login_user' %}" />
{% endif %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<div class="container-field">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar" style="background-color: #000000;"></span>
				<span class="icon-bar" style="background-color: #000000;"></span>
				<span class="icon-bar" style="background-color: #000000;"></span>
			</button>
			<a class="navbar-brand" href="">DNB</a>
		</div>
	</div>
	<div class="containter-field">
		
		<!-- Items on the navigation bar -->

		<div class="collapse navbar-collapse" id="topNavBar">
			<ul class="nav navbar-nav">
				<li class="">
					<a href="">
						Min CV
					</a>
				</li>
				<li class="">
					<a href="">
						Rediger profil
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="{% url 'candidate:logout_user' %}">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logg ut
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% block info %}
{% endblock %}
{% endblock %}
