{% extends 'candidate/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div id="usboks">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 id="registrer_interesse">Register Profile</h3>
					{% if error_message %}
						<p><strong>{{ error_message }}</strong></p>
					{% endif %}
					<br>
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" 
					id="usboks1">
						{% csrf_token %}
						{% include 'candidate/form_template.html' %}
						{% for field in cv_form %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<span class="text-danger small">{{ field.error }}</span>
							</div>
							<label class="control-label col-sm-2">{{ field.label_tag }}</label>
							<div class="col-sm-10">{{ field }}</div>
						</div>
						{% endfor %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success" id="butt_green" >Register</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
