{% extends 'candidate/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
	<div id="behind" class="row">
		<div id="usboks">
			<div class="panel panel-default" id="wrap">

				<!-- BACKGROUND PICTURE -->
				<div>
					<img id="back_picture" src="/static/candidate/barcode2.jpg">
				</div>

				<!-- GREEN BOX -->
				<div class="panel-body" id="panel_body_register">
                    <form role="form" method="post" enctype="multipart/form-data">
					<!-- UPPER HALF-->
                        <img src="/static/candidate/75.svg" id="upload_image">
                        <hr id="mid_line">
                        <div id="registrer_interesse"><h3 >Kun CV gjenstår</h3></div>

                        <br/>
                        <!-- LOWER HALF -->
                        <div id="register_welcome_text">
                            {% if name %}
                            <p>Hei {{ name }}!</p>
                            {% else %}
                            <p>Hei!</p>
                            {% endif %}
                            <p> Du er snart ferdig med søknaden din! Last opp CV'en din her og kontroller at navn og e-postadresse er riktig.</p>
                        </div>

                        <div id="prefilled_text">
                            {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                            {% endif %}

                            <!--  PREFLLED: NAME, EMAIL -->
                            {% csrf_token %}
                            {% for field in form %}
                                <div id="register_fields" class="row">
                                    <div>
                                        <span class="text-danger small">{{ field.error }}</span>
                                    </div>
                                    <label id="reg_label_fields" class="control-label col-sm-4">{{ field.label_tag }}</label>
                                    <div class="input col-sm-3">{{ field }}</div>
                                </div>
                            {% endfor %}

                            <!-- UPLOAD CV -->

                            <div id="register_fields" class="row" style="margin-top: 10px;">
                                <label id="reg_label_fields" class="control-label col-sm-4">{{ cv_form.cv.label_tag }}</label>
                                <div class="input col-sm-3">
                                    <span title="Hei" id="button_upload_cv" style="border-radius: 20px;color: #008789;text-align: center;height: 34px" class="btn btn-default btn-file">
                                        <div id="cv_file_title" style="display: inline-block;max-width: 200px">
                                            {{ cv_form.cv }}
                                        </div>

                                        <label id="label_upload_cv">
                                            <span style="margin-top: 0" class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                            Velg fil
                                        </label>

                                    </span>
                                </div>
                            </div>


                            <div id="register_fields" class="row" style="margin-top: 10px;">
                                <label id="reg_label_fields" class="control-label col-sm-4">{{ cv_form.comment.label_tag }}</label>
                                <div class="input col-sm-3">
                                     {{ cv_form.comment }}
                                </div>
                            </div>


                         </div>
                        <br/>
                        <div id="bottom_bar_top">

                            <!-- PERSONVERN-->

                            <div id="personvern" style="margin-top: -2.5%;margin-left: 5%">


                                <input onchange="valueChanged()" onclick="valueChanged()" type="checkbox" name="approve" id="approved" value="approve"> <label id="reg_label"> Jeg godtar DNB´s</label>
                                <a href="" data-target="#showTerms" data-toggle="modal" type="submit" id="home_reg_header"> personvernerklæring </a>

                                <body onload="valueChanged()"></body>

                            </div>

                        </div>
                        <div id="bottom_bar_bottom">

                            <!-- REGISTER BUTTON -->
                            <div style="margin-top: 1.5%;margin-left: 5%">

                                <button type="submit" class="button_register_uncompleted" id="button_register">
                                    Send inn <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>

                            </div>

                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>

    {% include 'candidate/terms.html' %}
    <script>

        $(":file").change(function(){
            //alert($(":file").val());
            //upload_image
            document.getElementById("label_upload_cv").innerHTML = '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' + " Fil valgt";
            if($('#approved').is(":checked")) {
                document.getElementById("upload_image").src="/static/candidate/100.svg";
            } else {
                document.getElementById("upload_image").src="/static/candidate/98.svg";
            }

            if($(":file").val() == "") {

                document.getElementById("label_upload_cv").innerHTML = '<span class="glyphicon glyphicon-file" aria-hidden="true"></span>' + " Velg fil";
                document.getElementById("upload_image").src="/static/candidate/75.svg";
            }

            if($(":file").val() != "" && $('#approved').is(":checked")) {

                document.getElementById("upload_image").src="/static/candidate/100.svg";
                document.getElementById("button_register").style.opacity = "1.0";
                $('#button_register').addClass('button_register_completed');

            }

            if($(":file").val() == "" && $('#approved').is(":checked")) {

                document.getElementById("upload_image").src="/static/candidate/75.svg";
                document.getElementById("button_register").style.opacity = "0.5";
                $('#button_register').removeClass("button_register_completed");

            }

            //$('#cv_glyicon').hide()
        });

        function valueChanged() {
            if($('#approved').is(":checked") && $(":file").val() != "") {

                document.getElementById("upload_image").src="/static/candidate/100.svg";
                document.getElementById("button_register").style.opacity = "1.0";
                $('#button_register').addClass('button_register_completed');
            }
            else if(!$('#approved').is(":checked") && $(":file").val() != "") {

                document.getElementById("upload_image").src="/static/candidate/98.svg";
                document.getElementById("button_register").style.opacity = "0.5";
                $('#button_register').removeClass("button_register_completed");
            }
            else {
                document.getElementById("button_register").style.opacity = "0.5";
                $('#button_register').removeClass("button_register_completed");
            }
        }

    </script>



{% endblock %}
