{% extends 'candidate/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
	<div id="behind" class="row">
		<div id="usboks">
			<div class="panel panel-default" id="wrap">

				<!-- BACKGROUND PICTURE -->
				<div>
					<img id="back_picture" src="/static/candidate/barcode2.jpg">
				</div>

				<!-- GREEN BOX -->
				<div class="panel-body" id="panel_body_register">

					<!-- UPPER HALF-->
					<img src="/static/candidate/75_prosent.png" id="upload_image">
					<hr id="mid_line">
					<div id="registrer_interesse"><h3 >Upload your CV</h3></div>


					<!-- LOWER HALF -->
					<div style="margin: 5% 0 0 15%;">
						{% if name %}
						<p>Hello {{ name }}!</p>
						{% else %}
						<p>Hello!</p>
						{% endif %}
						<p> Du er snart ferdig med søknaden din! Last opp CV'en din her og kontroller at navn og e-postadresse er riktig.</p>
					</div>

					<div id="prefilled_text">
						{% if error_message %}
						<p><strong>{{ error_message }}</strong></p>
						{% endif %}

						<form role="form" method="post" enctype="multipart/form-data">
							<!--  PREFLLED: NAME, EMAIL -->
                            {% csrf_token %}
							{% for field in form %}
							<div class="row">
								<div>
									<span class="text-danger small">{{ field.error }}</span>
								</div>
								<label class="control-label col-sm-6">{{ field.label_tag }}</label>
								<div class="input col-sm-3">{{ field }}</div>
							</div>
							{% endfor %}


							<!-- UPLOAD CV -->
							{% for field in cv_form %}
							<div class="row" style="margin-top: 10px;">
								<label class="control-label col-sm-6">{{ field.label_tag }}</label>
								<div class="input col-sm-3">{{ field }}</div>
							</div>
							{% endfor %}

                             <!-- REGISTER BUTTON -->
                            <div class="col-sm-4" style="margin-top: 15px;">
								<div>
									<button type="submit" class="btn btn-success" id="butt" >Register</button>
								</div>
							</div>

							<!-- PERSONVERN-->

							<div id="personvern">


                                <input onchange="valueChanged()" onclick="valueChanged()" type="checkbox" name="approve" id="approved" value="approve"> <label> Jeg godtar DNB´s</label>
                                <a href="" data-target="#showTerms" data-toggle="modal" type="submit" style="color:#fcfcfc;"> personvernerklæring </a>

                                <body onload="valueChanged()"></body>

		                	</div>

						</form>
                     </div>

				</div>
			</div>
		</div>
	</div>
</div>
    {% include 'candidate/terms.html' %}
    <script>

        $(":file").change(function(){
            //alert($(":file").val());
            //upload_image
            if($('#approved').is(":checked")) {
                document.getElementById("upload_image").src="/static/candidate/100.svg";
            } else {
                document.getElementById("upload_image").src="/static/candidate/98.svg";
            }
        });

        function valueChanged() {
            if($('#approved').is(":checked") && $(":file").val() != "") {

                document.getElementById("upload_image").src="/static/candidate/100.svg";
                $("#butt").show();
            }
            else if(!$('#approved').is(":checked") && $(":file").val() != "") {

                document.getElementById("upload_image").src="/static/candidate/98.svg";
                $("#butt").hide();
            } else if($('#approved').is(":checked")) {
                $("#butt").show();
            }
            else
                $("#butt").hide();
        }

    </script>



{% endblock %}
